<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
        <handlers>
            <remove name="cgi" />
            <remove name="CGI-exe" />
            <add name="cgi2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
